<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>

  <link rel="stylesheet" href="{{ "reset.css" | relURL }}">
  <link rel="stylesheet" href="{{ "index.css" | relURL }}">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>

<body>

<header class="site-header">
  <div class="brand">
    <h1 class="site-title">
  <div style="text-transform: none;">
  ProsiaLAB
</div>
</h1>

    {{ with .Site.Params.tagline }}
      <p class="site-tagline">{{ . }}</p>
    {{ end }}
  </div>

  <nav class="site-nav">

    {{ with .Site.Params.links.github }}
      <a href="{{ . }}" target="_blank" rel="noopener">GitHub</a>
    {{ end }}

    {{ with .Site.Params.links.knowledge }}
      <a href="{{ . }}" target="_blank" rel="noopener">Knowledge</a>
    {{ end }}

    {{ with .Site.Params.links.projects }}
      <a href="{{ . }}">Projects</a>
    {{ end }}

    {{ with .Site.Params.links.main }}
      <a href="{{ . }}" target="_blank" rel="noopener">Main site</a>
    {{ end }}
  </nav>
</header>
 <label class="debug-toggle-label">
    <input type="checkbox" class="debug-toggle"> Debug mode
  </label>
<main class="site-main">
  {{ block "main" . }}{{ end }}
</main>
<div class="debug-grid"></div>


  <p class="site-meta">
    Last updated <time>{{ .Lastmod.Format "2006-01-02" }}</time>
  </p>
</footer>

<script src="{{ "index.js" | relURL }}"></script>
</body>
</html>
